*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#050505;
  overflow-x:hidden;
  color:white;
  min-height:100vh;
  position:relative;
}

.background{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
}

.line{
  position:absolute;
  width:2px;
  height:200px;
  background:linear-gradient(transparent,#00ffcc,transparent);
  animation:move 6s linear infinite;
  opacity:0.5;
}

@keyframes move{
  0%{transform:translateY(-200px);}
  100%{transform:translateY(120vh);}
}

header{
  text-align:center;
  padding:50px 20px;
}

header h1{
  font-size:55px;
  color:#00ffcc;
  text-shadow:0 0 15px #00ffcc;
}

header p{
  color:#bbb;
  font-size:20px;
}

/* الكروت */
.tools{
  width:90%;
  max-width:1200px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:25px;
  padding-bottom:50px;
}

.tool-card{
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.1);
  border-radius:20px;
  padding:25px;
  backdrop-filter:blur(10px);
  box-shadow:0 0 15px rgba(0,255,204,0.1);
  transition:0.3s;
}

.tool-card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 25px rgba(0,255,204,0.4);
  border-color:#00ffcc;
}

.tool-card h2{
  color:#00ffcc;
  margin-bottom:10px;
}

.tool-card p{
  color:#ccc;
  margin-bottom:15px;
}

/* الفيديو */
.video-box{
  width:100%;
  height:160px;
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.1);
  border-radius:15px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#888;
  margin-bottom:20px;
}

/* زر التحميل */
.tool-card a{
  display:block;
  text-align:center;
  background:#00ffcc;
  color:black;
  padding:14px;
  border-radius:12px;
  font-weight:bold;
  text-decoration:none;
  transition:0.3s;
}

.tool-card a:hover{
  background:white;
}

/* الديسكورد */
.discord-box{
  display:flex;
  justify-content:center;
  margin-bottom:20px;
}

.discord-box a{
  background:#5865F2;
  color:white;
  padding:15px 40px;
  border-radius:15px;
  text-decoration:none;
  font-weight:bold;
}

footer{
  text-align:center;
  color:#777;
  padding:20px;
}
